@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables globales */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Estilo global para el cuerpo */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Clase personalizada (arreglando la sintaxis) */
.m_92253aa5 {
  background-color: red;
}
